<!DOCTYPE html>
<html lang="es">
       <head>
             <meta charset="utf-8"
       </head>
       <header>
         <h1>Mi primer página</h1>
       </header>
       <body>
                Programacion Visual
       </body>
       <nav>
         <a>https://virtual.unju.edu.ar/course/view.php?id=2540</a>
         <a>https://virtual.unju.edu.ar/pluginfile.php/811468/mod_resource/content/2/Trabajo%20Pr%C3%A1ctico%20N%C2%B0%203.pdf</a>
         <a>https://virtual.unju.edu.ar/</a>
       </nav>
       <main>
         <section>
           <h2>Aplicaciones web</h2>
           <p>
             Es el modelo más basico para describir la realción entrre los programas que 
             cooperan en una aplicación software que trabaja en red (aplicaciones web)
           </p>
           <h2>Modelo Cliente - Servidor: componentes básicos</h2>
           <p>
             Servidor Web: software que "aloja" aplicaciones web. "Escucha" las solicitudes del cliente y
             genera respuesta. Gestiona la seguridad, concurrencia, gestión del ciclo de vida de la aplicación
             y ofrece una API para realizar diversar transacciones tales como mensajería, etc.
             <ol>
	             <li> <!DOCTYPE>: Define el tipo de documento y la versión de HTML que estás utilizando. </li>
	             <li> html: Define el inicio y el final del documento HTML.	 </li>
	             <li> head: Contiene información sobre el documento, como el título, enlaces a estilos CSS, metadatos, etc.</li>
	             <li> title: Define el título del documento que se muestra en la pestaña del navegador.</li>
	             <li> body: Contiene todo el contenido visible del documento.</li>
	             <li> h1, h2, ..., h6: Define encabezados de diferentes niveles, siendo h1 el más importante y h6 el menos.</li>
				 <li> p: Define un párrafo.</li>
	             <li> a: Define un enlace.</li>
	             <li> img: Inserta una imagen.</li>
	             <li> ul, ol, li: Define listas sin orden, ordenadas y elementos de lista, respectivamente.</li>
	             <li> div: Define una sección genérica o contenedor en el documento.</li>
	             <li> span: Define una sección en línea en el documento.</li>
	             <li> table: Define una tabla.</li>
	             <li> tr: Define una fila dentro de una tabla.</li>
	             <li> td: Define una celda de datos dentro de una fila de tabla.</li>
	             <li> th: Define una celda de encabezado de columna o fila dentro de una tabla.</li>
	             <li> form: Define un formulario para recopilar datos del usuario.</li>
	             <li> input: Define un campo de entrada en un formulario.</li>
                 <li> textarea: Define un área de texto multilínea en un formulario. </li>
                 <li> button: Define un botón clickeable.</li>
             </ol>
           </p>
         </section>
       </main>
</html>